force-app/main/default/flows/Test_Create_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Account_set_up_as_expected</name>
        <label>Account set up as expected?</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>AssertionSobjectEquality</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__sobjActual</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sobjExpected</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sobjActual</name>
            <value>
                <elementReference>testAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjExpected</name>
            <value>
                <elementReference>expectedAccount</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Expected_Account_Setup</name>
        <label>Expected Account Setup</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>expectedAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>testAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expectedAccount.AccountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>123</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_set_up_as_expected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test_Account_Setup</name>
        <label>Test Account Setup</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>testAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Test Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testAccount.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expected_Account_Setup</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Test: Create Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test: Create Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test_Account_Setup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>expectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>testAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
